*
{
    margin: 0;
    padding: 0;
}
.button
{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    background: #607d8b; /* Able to change to any color */
    border: none;
    color: #fff; /* Able to change to any color */
}
.textview
{
    width: 217;
    margin: 5;
    font-size: 25;
    padding: 5;
    border: none;
    color: #607d8b; /* Able to change to any color */
}
.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}
.bg
{
    /* Able to change to any color */
    background: linear-gradient(to right, #e91e63, #3f51b5);
    height: 100%;
}